# Managed by saltstack
{% set settings = salt['pillar.get']('zabbix-agent', {}) -%}
PidFile={{ settings.get('pidfile', '/tmp/zabbix_agentd.pid') }}
{% if settings.get('logfile', '/var/log/zabbix/zabbix_agentd.log') !=
       "syslog" -%}
LogFile={{ settings.get('logfile', '/var/log/zabbix/zabbix_agentd.log') }}
{%- endif %}
LogFileSize=0
Server={{ settings.get('server', 'localhost') }}
ListenPort={{ settings.get('listenport', '10050') }}
ListenIP={{ settings.get('listenip', '0.0.0.0') }}
ServerActive={{ settings.get('serveractive', '') }}
Hostname={{ settings.get('hostname', salt['grains.get']('id')) }}
{% if settings.get('hostmetadata', false) -%}
HostMetadata={{ settings.get('hostmetadata') }}
{%- endif %}
{% if settings.get('include', false) -%}
Include={{ settings.get('include') }}
{%- endif %}
{% for userparameter in settings.get('userparameters', []) -%}
UserParameter={{ userparameter }}
{% endfor -%}
{{ settings.get('extra_conf','') }}
