<?php
// Zabbix GUI configuration file
global $DB;

$DB["TYPE"]				= 'MYSQL';
$DB["SERVER"]			= '{{ salt['pillar.get']('zabbix-frontend:dbhost', 'localhost') }}';
$DB["PORT"]				= '0';
$DB["DATABASE"]			= '{{ salt['pillar.get']('zabbix-frontend:dbname', 'zabbix') }}';
$DB["USER"]				= '{{ salt['pillar.get']('zabbix-frontend:dbuser', 'zabbixuser') }}';
$DB["PASSWORD"]			= '{{ salt['pillar.get']('zabbix-frontend:dbpass', 'zabbixpass') }}';
// SCHEMA is relevant only for IBM_DB2 database
$DB["SCHEMA"]			= '';

$ZBX_SERVER				= '{{ salt['pillar.get']('zabbix-frontend:zbxserver', 'localhost') }}';
$ZBX_SERVER_PORT		= '{{ salt['pillar.get']('zabbix-frontend:zbxserverport', '10051') }}';
$ZBX_SERVER_NAME		= '{{ salt['pillar.get']('zabbix-frontend:zbxservername', 'Zabbix installed with saltstack') }}';

$IMAGE_FORMAT_DEFAULT	= IMAGE_FORMAT_PNG;
?>
