{% from "zabbix/map.jinja" import zabbix with context -%}
{% set settings = salt['pillar.get']('zabbix-frontend', {}) -%}
{% set defaults = zabbix.get('frontend', {}) -%}
{# This required for backward compatibility -#}
{% if 'dbpass' in settings -%}
{%  do settings.update({'dbpassword': settings['dbpass']}) -%}
{% endif -%}
<?php
// Zabbix GUI configuration file
global $DB;

$DB["TYPE"]				= '{{ settings.get('dbtype', defaults.dbtype) }}';
$DB["SERVER"]			= '{{ settings.get('dbhost', defaults.dbhost) }}';
$DB["PORT"]				= '0';
$DB["DATABASE"]			= '{{ settings.get('dbname', defaults.dbname) }}';
$DB["USER"]				= '{{ settings.get('dbuser', defaults.dbuser) }}';
$DB["PASSWORD"]			= '{{ settings.get('dbpassword', defaults.dbpassword) }}';
// SCHEMA is relevant only for IBM_DB2 database
$DB["SCHEMA"]			= '';

$ZBX_SERVER				= '{{ settings.get('zbxserver', defaults.zbxserver) }}';
$ZBX_SERVER_PORT		= '{{ settings.get('zbxserverport', defaults.zbxserverport) }}';
$ZBX_SERVER_NAME		= '{{ settings.get('zbxservername', defaults.zbxservername) }}';

$IMAGE_FORMAT_DEFAULT	= IMAGE_FORMAT_PNG;
{% if defaults['historyupgraded'] -%}
$DB['DOUBLE_IEEE754'] = 'true';
{% endif -%}
?>
