{% set settings = salt['pillar.get']('zabbix-frontend', {}) -%}
<?php
// Zabbix GUI configuration file
global $DB;

$DB["TYPE"]				= '{{ settings.get('dbtype', 'MYSQL') }}';
$DB["SERVER"]			= '{{ settings.get('dbhost', 'localhost') }}';
$DB["PORT"]				= '0';
$DB["DATABASE"]			= '{{ settings.get('dbname', 'zabbix') }}';
$DB["USER"]				= '{{ settings.get('dbuser', 'zabbixuser') }}';
$DB["PASSWORD"]			= '{{ settings.get('dbpass', 'zabbixpass') }}';
// SCHEMA is relevant only for IBM_DB2 database
$DB["SCHEMA"]			= '';

$ZBX_SERVER				= '{{ settings.get('zbxserver', 'localhost') }}';
$ZBX_SERVER_PORT		= '{{ settings.get('zbxserverport', '10051') }}';
$ZBX_SERVER_NAME		= '{{ settings.get('zbxservername', 'Zabbix installed with saltstack') }}';

$IMAGE_FORMAT_DEFAULT	= IMAGE_FORMAT_PNG;
?>
