{% set zabbix = salt['grains.filter_by']({
  'Debian': {
    'version_repo': '2.2',
    'user': 'zabbix',
    'group': 'zabbix',
    'home': '/var/lib/zabbix',
    'agent': {
      'pkgs': ['zabbix-agent', 'zabbix-sender'],
      'service': 'zabbix-agent',
      'config': '/etc/zabbix/zabbix_agentd.conf',
      'pidfile': '/var/run/zabbix/zabbix_agentd.pid',
      'logfile': '/var/log/zabbix/zabbix_agentd.log'
    },
    'server': {
      'pkgs': ['zabbix-server-mysql', 'zabbix-get'],
      'service': 'zabbix-server',
      'config': '/etc/zabbix/zabbix_server.conf',
      'dbsocket': '/var/run/mysqld/mysqld.sock',
      'pidfile': '/var/run/zabbix/zabbix_server.pid',
      'logfile': '/var/log/zabbix/zabbix_server.log'
    },
    'frontend': {
      'pkgs': ['zabbix-frontend-php'],
      'config': '/etc/zabbix/web/zabbix.conf.php'
    },
    'proxy': {
      'pkgs': ['zabbix-proxy-sqlite3', 'zabbix-get'],
      'service': 'zabbix-proxy',
      'config': '/etc/zabbix/zabbix_proxy.conf',
      'dbname': '/var/lib/zabbix/zabbix_proxy.db',
      'pidfile': '/var/run/zabbix/zabbix_proxy.pid',
      'logfile': '/var/log/zabbix/zabbix_proxy.log'
    }
  },

  'RedHat': {
    'version_repo': '2.2',
    'user': 'zabbix',
    'group': 'zabbix',
    'agent': {
      'pkgs': ['zabbix-agent'],
      'service': 'zabbix-agent',
      'config': '/etc/zabbix/zabbix_agentd.conf',
      'pidfile': '/var/run/zabbix/zabbix_agentd.pid',
      'logfile': '/var/log/zabbix/zabbix_agentd.log'
    },
    'server': {
      'pkgs': ['zabbix-server-mysql'],
      'service': 'zabbix-server',
      'config': '/etc/zabbix/zabbix_server.conf',
      'dbsocket': '/var/lib/mysql/mysql.sock',
      'pidfile': '/var/run/zabbix/zabbix_server.pid',
      'logfile': '/var/log/zabbix/zabbix_server.log'
    },
    'frontend': {
      'pkgs': ['zabbix-web-mysql'],
      'config': '/etc/zabbix/web/zabbix.conf.php'
    },
    'proxy': {
      'pkgs': ['zabbix-proxy-sqlite3'],
      'service': 'zabbix-proxy',
      'config': '/etc/zabbix/zabbix_proxy.conf',
      'dbname': '/var/lib/zabbix/zabbix_proxy.db',
      'pidfile': '/var/run/zabbix/zabbix_proxy.pid',
      'logfile': '/var/log/zabbix/zabbix_proxy.log'
    }
  },

  'FreeBSD': {
    'version_repo': '2.2',
    'user': 'zabbix',
    'group': 'zabbix',
    'home': '/var/lib/zabbix',
    'agent': {
      'pkgs': ['zabbix22-agent'],
      'service': 'zabbix_agentd',
      'config': '/usr/local/etc/zabbix22/zabbix_agentd.conf',
      'pidfile': '/var/run/zabbix/zabbix_agentd.pid',
      'logfile': '/var/log/zabbix/zabbix_agentd.log'
    },
    'server': {
      'pkgs': ['zabbix22-server'],
      'service': 'zabbix',
      'config': '/usr/local/etc/zabbix22/zabbix_server.conf',
      'dbsocket': '/var/run/mysqld/mysqld.sock',
      'pidfile': '/var/run/zabbix/zabbix_server.pid',
      'logfile': '/var/log/zabbix/zabbix_server.log'
    },
    'proxy': {
      'pkgs': ['zabbix22-proxy'],
      'service': 'zabbix_proxy',
      'config': '/usr/local/etc/zabbix22/zabbix_proxy.conf',
      'dbname': '/var/lib/zabbix/zabbix_proxy.db',
      'pidfile': '/var/run/zabbix/zabbix_proxy.pid',
      'logfile': '/var/log/zabbix/zabbix_proxy.log'
    }
  },

  'OpenBSD': {
    'version_repo': '2.4',
    'user': '_zabbix',
    'group': '_zabbix',
    'agent': {
      'pkgs': ['zabbix-agent'],
      'service': 'zabbix_agentd',
      'config': '/etc/zabbix/zabbix_agentd.conf',
      'pidfile': '/var/run/zabbix/zabbix_agentd.pid',
      'logfile': '/var/log/zabbix/zabbix_agentd.log'
    },
  },

  'default': {
    'version_repo': '2.2',
    'user': 'zabbix',
    'group': 'zabbix',
    'home': '/var/lib/zabbix',
    'agent': {
      'pkgs': ['zabbix-agent', 'zabbix-sender'],
      'service': 'zabbix-agent',
      'config': '/etc/zabbix/zabbix_agentd.conf',
      'pidfile': '/var/run/zabbix/zabbix_agentd.pid',
      'logfile': '/var/log/zabbix/zabbix_agentd.log'
    },
    'server': {
      'pkgs': ['zabbix-server-mysql', 'zabbix-get'],
      'service': 'zabbix-server',
      'config': '/etc/zabbix/zabbix_server.conf',
      'dbsocket': '/var/lib/mysql/mysql.sock',
      'pidfile': '/var/run/zabbix/zabbix_server.pid',
      'logfile': '/var/log/zabbix/zabbix_server.log'
    },
    'frontend': {
      'pkgs': ['zabbix-web-mysql'],
      'config': '/etc/zabbix/web/zabbix.conf.php'
    },
    'proxy': {
      'pkgs': ['zabbix-proxy-sqlite3', 'zabbix-get'],
      'service': 'zabbix-proxy',
      'config': '/etc/zabbix/zabbix_proxy.conf',
      'dbname': '/var/lib/zabbix/zabbix_proxy.db',
      'pidfile': '/var/run/zabbix/zabbix_proxy.pid',
      'logfile': '/var/log/zabbix/zabbix_proxy.log'
    }
  },
}, merge=salt['pillar.get']('zabbix:lookup')) %}
