{% set zabbix = salt['grains.filter_by']({
  'Debian': {
    'version_repo': '2.2',
    'agent': {
      'pkg': 'zabbix-agent',
      'service': 'zabbix-agent',
      'config': '/etc/zabbix/zabbix_agentd.conf'
    },
    'server': {
      'pkg': 'zabbix-server-mysql',
      'service': 'zabbix-server',
      'config': '/etc/zabbix/zabbix_server.conf'
    },
    'frontend': {
      'pkg': 'zabbix-frontend-php',
      'config': '/etc/zabbix/web/zabbix.conf.php'
    }
  },

  'FreeBSD': {
    'agent': {
      'pkg': 'zabbix22-agent',
      'service': 'zabbix_agentd',
      'config': '/usr/local/etc/zabbix22/zabbix_agentd.conf'
    },
    'server': {
      'pkg': 'zabbix22-server',
      'service': 'zabbix',
      'config': '/usr/local/etc/zabbix22/zabbix_server.conf'
    }
  },

  'default': {
    'agent': {
      'pkg': 'zabbix-agent',
      'service': 'zabbix-agent',
      'config': '/etc/zabbix/zabbix_agentd.conf'
    },
    'server': {
      'pkg': 'zabbix-server-mysql',
      'service': 'zabbix-server',
      'config': '/etc/zabbix/zabbix_server.conf'
    }
  },
}, merge=salt['pillar.get']('zabbix:lookup')) %}
